
header{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

p{
    color: maroon;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 70px;
}

h2{
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 50px;
}

h3{
    border-radius: 10px;
    background-color: greenyellow;
    color: white;
    text-align: center;
    font-size: 30px;
}

h4{
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: 25px;
}

h5{
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 20px;
}

h6{
    border-radius: 10px;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 15px;
}